* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #ffdada;
}
a,
button {
  text-decoration: none;
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
a:hover,
button:hover {
  background-color: #f0f0f0;
}
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}
.title {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}
.message {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  display: block;
  margin: auto;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 200px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.subbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.subbox > a,
button {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.responseArea {
  width: 25rem;
  max-width: 25rem;
  min-height: 10rem;
  background-color: rgb(74, 74, 74);
  color: white;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'Courier New', monospace;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  overflow-y: auto;
}
